table.table thead
{
	background: #50494b
}

div.panel-default>.panel-heading {
	background: #3399ff	
}

div.panel-default {
	background-color: #0d0d0d
}

div.latest-games {
	padding: 0px
}

div.latest-games table tr td {
	padding-left: 4px;
	padding-right: 4px;
}

div.panel-heading ul.pagination {
	margin-top: 0px;
	margin-bottom: 0px
}
